<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans-2.5.xsd">

<!--	<bean id="dataSource"
		class="org.springframework.jdbc.datasource.DriverManagerDataSource">
		<property name="driverClassName" value="com.mysql.jdbc.Driver" />
		<property name="url"
			value="jdbc:mysql://localhost:3306/jtm?useUnicode=true&amp;characterEncoding=utf8" />
		<property name="username" value="root" />
		<property name="password" value="mysql" />
	</bean>-->

	<bean id="dbcpDS"  class="org.apache.commons.dbcp.BasicDataSource"  destroy-method="close"
			init-method="init" >
<!--	<property name="driverClassName" value="com.mysql.jdbc.Driver" />
	<property name="url" value="jdbc:mysql://localhost:3306/jtm?useUnicode=true&amp;characterEncoding=utf8" />
	<property name="username" value="root" />-->
	<property name="initialSize" value="50"/>
	<property name="maxActive" value="100"/>
	<!--<property name="password" value="mysql" />-->
	<property name="appname" value="app1-1" />
	<property name="connectString" value="127.0.0.1:2181"/>
	</bean>



	<bean id="transactionManager"
		class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
		<property name="dataSource" ref="dbcpDS" />
	</bean>

	<bean id="sqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
		<property name="dataSource" ref="dbcpDS" />
		<property name="configLocation" value="/WEB-INF/spring-mybatis.xml" />
	</bean>

</beans>